<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-header">
          <h5 class="mb-0">Farmer Diaries</h5>
        </div>
        <div class="text-start mx-4">
          <div class="col-12 col-sm-6">
            <label for="groupType">Select Inputs/Sales</label>
            <select class="form-control" id="groupType" (change)="onSelect($event)">
              <option value="" selected disabled>Select</option>
              <option value="inputs">inputs</option>
              <option value="sales">sales</option>
            </select>
          </div>
        </div>

        <div class="card-body mt-0">
          <div class="table-responsive">
            <div class="dataTable-wrapper " id="">
              <div class="dataTable-container ">
                <table class="table table-striped table-bordered table-sm row-border hover" width="100%"
                  id="dtFarmerDiaries">
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <footer class="footer pt-3">
    
  </footer>
</div>