<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-header">
          <h5 class="mb-0">Projects</h5>

        </div>
        <!-- <div class="text-start mx-4">
            <button type="button" class="btn bg-gradient-primary mb-3" data-bs-toggle="modal"
              data-bs-target="#projectdetailsmodal">Add New Project</button>
          </div> -->

        <div class="table-responsive">
          <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-height fixed-columns"
            id="abId0.08180483815577233">
            <div class="dataTable-top" id="abId0.48324634493258456">
              <div class="dataTable-dropdown"><label><select class="dataTable-selector">
                    <option value="5">5</option>
                    <option value="12" selected="">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                  </select> entries per page</label></div>
              <div class="dataTable-search" id="abId0.839893041246115" abineguid="F9AF31BAB001482F8E5049DA88281B04">
                <input class="dataTable-input" placeholder="Search..." type="text">
              </div>
            </div>
            <div class="dataTable-container">
              <table class="table table-flush dataTable-table" id="datatable-search">
                <thead class="thead-light">
                  <tr>
                    <th data-sortable="" style="width: 20%;"><a href="#" class="dataTable-sorter">Option</a></th>
                    <th data-sortable="" style="width: 20%;"><a href="#" class="dataTable-sorter">Project Name</a></th>
                    <th data-sortable="" style="width: 20%;"><a href="#" class="dataTable-sorter">Project Code</a></th>
                    <th data-sortable="" style="width: 15%;"><a href="#" class="dataTable-sorter">Acronym</a></th>
                    <th data-sortable="" style="width: 10%;"><a href="#" class="dataTable-sorter">Active Status</a></th>
                    <th data-sortable="" style="width: 15%;"><a href="#" class="dataTable-sorter">Total Project
                        Budget</a></th>
                    <th data-sortable="" style="width: 15%;"><a href="#" class="dataTable-sorter">Targeted No Of Direct
                        Beneficiaries</a></th>
                    <th data-sortable="" style="width: 20%;"><a href="#" class="dataTable-sorter">Project Manager</a>
                    </th>
                    <th data-sortable="" style="width: 10%;"><a href="#" class="dataTable-sorter">Start Date</a></th>
                    <th data-sortable="" style="width: 10%;"><a href="#" class="dataTable-sorter">End Date</a></th>
                    <th data-sortable="" style="width: 10%;"><a href="#" class="dataTable-sorter">Final Evaluation
                        Date</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <button type="button" class="btn bg-gradient-primary"
                        routerLink="/projectview/projectbrief">Open</button>
                    </td>
                    <td class="text-sm font-weight-normal">Smallholder Agriculture Cluster Project</td>
                    <td class="text-sm font-weight-normal">SACP</td>
                    <td class="text-sm font-weight-normal">SACP</td>
                    <td class="text-sm font-weight-normal">Active</td>
                    <td class="text-sm font-weight-normal">USD 67.4 million</td>
                    <td class="text-sm font-weight-normal">78240</td>
                    <td class="text-sm font-weight-normal">-</td>
                    <td class="text-sm font-weight-normal">2021/09/01</td>
                    <td class="text-sm font-weight-normal">2027/01/01</td>
                    <td class="text-sm font-weight-normal">-</td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer pt-3">
    
  </footer>

  <div class="row">
    <div class="col-md-4">
      <projectdetailsmodal></projectdetailsmodal>
    </div>
  </div>

</div>