<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-header">
          <h5 class="mb-0">MSMEs</h5>

        </div>
        <div class="card-body mt-0">
          <div class="table-responsive">
            <div class="dataTable-wrapper " id="">
              <div class="dataTable-container ">
                <table class="table table-striped table-bordered table-sm row-border hover" width="100%" id="dtMSMEs">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer pt-3">
    
  </footer>

  <div class="row">
    <div class="col-md-4">
      <viewparticipationmodal [id]="id" [objectId]="3"></viewparticipationmodal>
    </div>
  </div>

</div>