<div class="min-height-300 bg-secondary position-absolute w-100"></div>
<div class="g-sidenav-show   bg-gray-100">
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    <projectmenu></projectmenu>
  </aside>

  <main class="main-content position-relative border-radius-lg ">

    <nav class="navbar navbar-main navbar-expand-lg  px-0 mx-4 shadow-none border-radius-xl z-index-sticky "
      id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">

        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <h6 class="font-weight-bolder mb-0 text-white">{{name}} | {{position}}</h6>
            </div>
          </div>

        </div>
        <button type="button" class="btn btn-danger py-1 mx-2 my-1" (click)="logout()">Logout</button>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </main>
</div>